:root {
  /* --color-light-shade: #ECE2D8;
  --color-light-accent: #E08163;
  --color-main:#CE2020;
  --color-dark-accent: #AE806F;
  --color-dark-shade: #211D24; */

  --color-light-shade: #FBF9FB;
  --color-light-accent: #C5957A;
  --color-main:#CE2020;
  --color-dark-accent: #867C93;
  --color-dark-shade: #211D24;

  /* --color-dark-shade: #1F2926; */
}

* {
  color: var(--color-light-shade);
}

html {
  background-color: var(--color-dark-shade);
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

/* nav styles */

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  /* background-color: #ff9776; */
  /* display: none; */
  display: flex;
  /* justify-content: space-between;  */
  /* align-items: center; */
  /* margin: 0; */
  /* padding: 10px; */
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
  /* background-color: #ff9776; */
  background-color: var(--color-light-accent);
  
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }
  
  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
  
}

/* header styles */

header {
  background-color: var(--color-dark-shade);
  border-color: var(--color-light-accent);
  border-width: 2px;
  border-style: solid;
}

.header-container {
  /* background-color: #333; */
  background-color: var(--color-dark-shade);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  align-items: center;
}

.header-div {
  /* background-color: #366; */
}
.header-title {
  /* background-color: #366; */
}
.header-badge {
  /* background-color: #636; */
  align-items: end;
}
.badge-container {
  /* padding: 10px; */
  display: flex;
  justify-content: space-between; 
  align-items: end;
}
.badge-container > div {
  /* background-color: #366; */
  padding: 5px;
  /* background-color: rgba(255, 255, 255, 0); */
  background-color: transparent;
}
img {
  background-color: transparent;
}

nav {
  /* background-color: #666; */
}

.seller-badge {
  width: 80px;
  height: 100%;
}

/* catalog grid styles */

.catalog-grid {
  display: grid;
  gap: 10px;
}

.catalog-item {
  /* width: 100%; */
  /* width: 100px; */
  padding: 10px;
  border-color: var(--color-light-accent);
  border-width: 2px;
  border-style: solid;
}

@media screen and (min-width: 636px) {
  .catalog-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 636px) {
  .catalog-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* category grid styles */

.category-grid {
  display: grid;
  gap: 10px;
}

.category-item {
  width: 100%; /* Ensures each grid item takes up the full width of its container */
  padding: 10px;
}

.category-item img {
  width: 100%;
  /* height: auto; */
  height: 100%;
  object-fit: cover;
  /* padding: 10px; */
}

@media screen and (min-width: 636px) {
  .category-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 636px) {
  .category-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
