:root {
  /* --color-light-shade: #ECE2D8;
  --color-light-accent: #E08163;
  --color-main:#CE2020;
  --color-dark-accent: #AE806F;
  --color-dark-shade: #211D24; */

  --color-light-shade: #FBF9FB;
  --color-light-accent: #C5957A;
  --color-main:#CE2020;
  --color-dark-accent: #867C93;
  --color-dark-shade: #211D24;

  /* --color-dark-shade: #1F2926; */
}
