:root {
  /* --color-light-shade: #ECE2D8;
  --color-light-accent: #E08163;
  --color-main:#CE2020;
  --color-dark-accent: #AE806F;
  --color-dark-shade: #211D24; */

  --color-light-shade: #FBF9FB;
  --color-light-accent: #C5957A;
  --color-main:#CE2020;
  --color-dark-accent: #867C93;
  --color-dark-shade: #211D24;

  /* --color-dark-shade: #1F2926; */
}

/* nav styles */

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: var(--color-light-accent);
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: var(--color-light-accent);
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover, a:focus {
  background-color: var(--color-light-accent);
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}