---
import BaseLayout from '../../layouts/BaseLayout.astro';

import { supabase } from '../../supabase';

export async function getStaticPaths() {
    const { data, error } = await supabase
        .from('things')
        .select('tags');
    if (error) {
      console.error(error)
    }
    // const allPosts = await Astro.glob('../things/*.md');

    const tags = [];

    // data.map((t) => {
    //     tags.push({ params: { tag: t.tag }});
    // });

    const uniqueTags = [...new Set(data.map((t) => t.tags).flat())];

    uniqueTags.map((t) => {
      tags.push({ params: { tag: t }});
    });
    
    return tags;
}

const { tag } = Astro.params;
// const { posts } = Astro.props;
// const filteredPosts = posts.filter((post) => post.frontmatter.tags?.includes(tag));

---
<BaseLayout pageTitle={tag}>
    <p>Posts tagged with {tag}</p>
    <!-- <ul>
        {filteredPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
    </ul> -->
</BaseLayout>