---
import BaseLayout from '../layouts/BaseLayout.astro';
// import Thing from '../components/Thing.astro';
const pageTitle = "About";
---
<BaseLayout pageTitle={pageTitle}>
  <!-- <h2>Subtitle</h2> -->

  <!-- <Thing uuid="3119e8b4-c628-4694-87be-ca5b291045d3"/> -->

  <h1 class="py-10 font-bold text-center text-4xl">Gadget3D</h1>

</BaseLayout>
