---
import BaseLayout from '../layouts/BaseLayout.astro';
// import Thing from '../components/Thing.astro';
const pageTitle = "About";
---
<BaseLayout pageTitle={pageTitle}>

  <h1 class="py-10 font-bold text-center text-4xl">Gadget3D</h1>

  

</BaseLayout>
