---
import BaseLayout from '../layouts/BaseLayout.astro';
// import Thing from '../components/Thing.astro';
import CatalogItem from '../components/CatalogItem.astro';

import { supabase } from '../supabase';

const { data, error } = await supabase
  .from('things')
  .select();
if (error) {
  console.error(error)
}

// const tags = [...new Set(data.map((t) => t.tags).flat())];

const things = [...new Set(data?.map((t) => t.item_name).flat())];

const pageTitle = "Catalog";

---

<BaseLayout pageTitle={pageTitle}>

  <!-- left side: tag list -->
  <div class="catalog-filters-container">
    <aside class="catalog-filters">
      <h2>Filter by tag</h2>
      
    </aside>
  </div>

  <main class="catalog-main">
    
    <!-- todo: sort by -->
    <!-- <select>
      <option></option>
    </select> -->
    
    <div class="catalog-grid">

      {things.map((t) => (
        <CatalogItem item={data.find((item) => {
          return item.item_name === `${t}`;
        })}/>
      ))}


    </div>
  </main>

</BaseLayout>