---
import BaseLayout from '../layouts/BaseLayout.astro';
import FrontPageCard from '../components/FrontPageCard.astro';
---
<BaseLayout pageTitle="Custom Orders">
  <div class="category-grid grid gap-2.5 lg:grid-cols-3 py-4">
    <FrontPageCard 
      title="Special Colors"
      caption="See something you like, but not in the color you want? We can make that happen!"
      />
    <FrontPageCard 
      title="Multicolor Prints"
      caption=""
      />
    <FrontPageCard 
      title="Custom sizes"
      caption="Tiny Spider too tiny? Get one up to 25x25 centimeters!"
      />
    <FrontPageCard 
      title="Rapid Product Prototypes" 
      caption="Available in PLA, PETG, TPU, and ABS/ASA"
      image={import(`../assets/images/misc/harmonic_drive.jpg`)}
      />
  </div>
</BaseLayout>