---
import BaseLayout from '../layouts/BaseLayout.astro';
import FrontPageCard from '../components/FrontPageCard.astro';
---
<BaseLayout pageTitle="Custom Orders">
  <div class="category-grid grid gap-2.5 lg:grid-cols-3 py-4">
    <FrontPageCard 
      title="Specific Colors" 
      caption=""
      />
    <FrontPageCard 
      title="Rapid Product Prototypes" 
      caption="Available in PLA, PETG, TPU, and ABS/ASA"
      />
      <!-- image_url="../assets/images/misc/harmonic_drive.jpg" -->
  </div>
</BaseLayout>