---
import BaseLayout from '../layouts/BaseLayout.astro';
// import CategoryItem from '../components/CategoryItem.astro';
// import ProductList from '../components/ProductList.astro';
import FrontPageCard from '../components/FrontPageCard.astro';

// import { supabase } from '../supabase';

// const { data, error } = await supabase
//   .from('categories')
//   .select();

// const { data, error } = await supabase
//   .from('things')
//   .select();

// const { data, error } = await supabase
//   .from('tags')
//   .select('tag');

  // .eq("uuid", "3119e8b4-c628-4694-87be-ca5b291045d3")
  // .single();

// if (error) {
//   console.error(error)
// }

// const uniqueTags = [...new Set(data.map((t) => t.tags).flat())];

// import {fetchSquareCatalog, fetchSquareCatalogTest} from '../scripts/square.ts';
// import test_catalog from '../assets/sample_catalog.json';

// const catalog = await fetchSquareCatalog();
// // const catalog = await fetchSquareCatalogTest(test_catalog);
// // console.log("catalog = ", catalog);

// console.log("item = ", catalog.items[0]);

// import { Image } from 'astro:assets';
// import img from "../assets/images/things/adult_gemstone.jpg";

import { Picture } from 'astro:assets';

---

<BaseLayout pageTitle="Gadget3D">

  <div class="category-grid grid gap-2.5 lg:grid-cols-3 py-4">

    <!-- <div class="w-full p-2.5 border-light-accent bg-dark-shade border-solid border-2">
      <h2 class="text-center text-2xl">
        Dragons
      </h2>
      <Picture
        src={import(`../assets/images/things/adult_gemstone.jpg`)}
        height={300}
        alt="test alt"
        />
    </div> -->

    <FrontPageCard title="Dragons" image={import(`../assets/images/things/adult_gemstone.jpg`)}/>
    <!-- <FrontPageCard title="Dragons" image_url="../assets/images/things/adult_gemstone.jpg"/> -->
    <!-- <FrontPageCard title="Fidgets" image_url="../assets/images/categories/Fidgets.jpg"/>
    <FrontPageCard title="Critters" image_url="../assets/images/things/ferret.jpg"/>
    <FrontPageCard title="Creepy Crawlies" image_url="../assets/images/things/tiny_spider.jpg"/>  -->

    <!-- <FrontPageCard title="Dinosaurs" image_url="../assets/images/things/tiny_spider.jpg"/> -->
    <!-- <FrontPageCard title="Frogs" image_url="../assets/images/things/tiny_spider.jpg"/> -->
    <!-- <FrontPageCard title="Turtles" image_url="../assets/images/things/tiny_spider.jpg"/> -->
    <!-- <FrontPageCard title="Keychains and Bag Charms" image_url="../assets/images/things/tiny_spider.jpg"/> -->
  </div>

  <!-- <div>
    <div>
      <h2 class="font-bold text-center">Artists</h2>
      <div class="category-grid grid gap-2.5 lg:grid-cols-3">
        {data.filter((item) => item.is_artist).map((item) => (
          <CategoryItem item={item}/>
          ))}
    </div>
  </div> -->
    
  <!-- <h2>Categories</h2> -->
  <!-- <div>
    <div class="category-grid grid gap-2.5 lg:grid-cols-3">
      {data.filter((item) => !item.is_artist).map((item) => (
        <CategoryItem item={item}/>
        ))}
    </div>
  </div> -->

  <!-- </div> -->

</BaseLayout>
