---
import { Image } from 'astro:assets';
const { category } = Astro.props;
---

<div class="category-item">
  {category}
  <Image
    src={import(`../assets/images/categories/${category}.jpg`)}
    height={300}
    aspectRatio={4 / 3}
    alt="test alt"
    />
</div>
