---
import { Image } from 'astro:assets';
const {category} = Astro.props;

// const img_path = "/images/categories/" + category + ".jpg";
// const img_path = "../assets/images/categories/" + category + ".jpg";
const img_path = "https://raw.githubusercontent.com/RussHewgill/Gadget3D/main/public/images/categories/" + category + ".jpg";

// const img = await import("../assets/images/categories/" + category + ".jpg");

---
<div class="category-item">
  {category}
  <img
    src={img_path}
    alt={category} 
    />
</div>
