---
import { Image } from 'astro:assets';
// const { category } = Astro.props;
// const { has_image } = Astro.props;
const { item } = Astro.props;
---

<div class="category-item w-full p-2.5">
  <h2 class="text-center">
    {item.category}
  </h2>
  {item.has_image && <Image
    src={import(`../assets/images/categories/${item.category}.jpg`)}
    height={300}
    alt="test alt"
    class="w-full h-full object-cover"
    />
  }
</div>
