---
import { Image } from 'astro:assets';
const { category } = Astro.props;
const { has_image } = Astro.props;
---

<div class="category-item">
  {category}
  {has_image && <Image
    src={import(`../assets/images/categories/${category}.jpg`)}
    height={300}
    alt="test alt"
    />
  }
</div>
