---
const { event } = Astro.props;
---

<tr class="border-b">
  <td class="event-td">{event.name}</td>
  <td class="event-td">{event.date_start}</td>
  <td class="event-td">{event.location}</td>
</tr>

<!-- <div>
  {event.name}
</div> -->
