---
// import { Image } from 'astro:assets';
import Navigation from './Navigation.astro';
import SellerBadge from './SellerBadge.astro';

import badge_cinderwing from "../assets/images/badges/cinderwing.png";
import badge_matmire from "../assets/images/badges/matmire.png";
---

<header class="background-dark-shade border-light-accent border-2 border-solid w-full max-w-2xl lg:max-w-2xl sm:max-w-sm">
    <div class="header-container background-dark-shade p-1 flex flex-wrap justify-between align-center">
      <div class="header-div header-title">
        <h1 class="text-5xl font-bold">Gadget3D</h1>
        <h2 class="py-2 font-bold">3D Printed Toys and Gifts</h2>
        <p class="text-base">Contact: printing@gadget3d.ca</p>
      </div>

      <div class="badge-container flex align-end justify-end">
        <SellerBadge img={badge_cinderwing}/>
        <SellerBadge img={badge_matmire}/>
      </div>

    </div>

    <!-- <hr> -->
    <nav>
      <Navigation />
    </nav>

  </header>