---
import ProductCard from './ProductCard.astro';
// import type { sqCatalog } from '../scripts/square';
const { catalog } = Astro.props;
---
<section>
  <div class="container py-16 sm:py-20">
    <h2 class="sr-only">Products</h2>
    <div class="grid gap-5 md:grid-cols-3 lg:grid-cols-4">
      {catalog.items.map((product) => <ProductCard product={product}/>)}
    </div>
  </div>
</section>