---
// import { Image } from 'astro:assets';
import { Picture } from 'astro:assets';
// import type { sqItem, sqVariation } from '../scripts/square';
const { product } = Astro.props;
---

<div class="catalog-item border-light-accent bg-dark-shade border-solid border-2 \
flex flex-col justify-between items-center justify-items-center \
"
>
<!-- data-tags={item.tags} -->

  <!-- <div class="w-full py-1 h-full flex items-center align-middle justify-items-center">
    <div class="justify-self-center self-center place-self-center">
    </div>
  </div> -->

  <div class="w-full py-1 h-full flex items-center">
    <a href=`/things/${product.name}`>
      <Picture
      src={product.image_url === "" ? "https://raw.githubusercontent.com/RussHewgill/Gadget3D/main/src/assets/images/things/placeholder.png" : product.image_url}
      height={200}
      width={200}
      alt={product.name}
      />
      <!-- decoding="async"
        loading="lazy" -->
      </div>
    </a>

  <div class="text-center">
    <h3>{product.name}</h3>
    <p>${product.price_range[0] == product.price_range[1] 
          ? `${(product.price_range[0]/100).toFixed(2)}` 
          : `${(product.price_range[0]/100).toFixed(2)} - ${(product.price_range[1]/100).toFixed(2)}`}</p>
  </div>
</div>
