---
import type { sqItem } from '../scripts/square';
// import ProductCard from './ProductCard.astro';
import ProductPage from './ProductPage.svelte';
// import type { sqCatalog } from '../scripts/square';
const { catalog } = Astro.props;
---
<!-- Category Filters -->
<!-- <section>
</section> -->

<!-- Product Grid -->
<!-- <section>
  <div class="container py-12 sm:py-16">
    <h2 class="sr-only">Products</h2>
    <div class="grid gap-5 md:grid-cols-3 lg:grid-cols-4">
      {catalog.items.map((product: sqItem) => (
          (!product.is_archived && !product.is_deleted) && <ProductCard product={product}/>
        )
        )}
    </div>
  </div>
</section> -->

<ProductPage client:load catalog={catalog}/>
